# Help from https://www.gitignore.io

### Mac ###
.DS_Store
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

### SublimeText ###
*.sublime-project
*.sublime-workspace

### Composer ###
composer.lock

### Libraries ###
vendor/.git
vendor/*/.git


# Grunt
node_modules

# Vendor
vendor

# Temporary files
*~